<?xml version="1.0" encoding="utf-8" ?>
<Plugin
  DescriptorVersion="1.0"
  Name="Mover"
  PluginId="{C334A0ED-85C3-4657-A0BB-C9A7532121A1}"
  Author="aspik"
  Copyright="GPL"
  Description="Moves watched states from one MP2 installation to another">

  <Version
    PluginVersion="1.0"
    ReleaseDate="2018-09-01 01:00:00 GMT+01:00"
    CurrentAPI="1"/>

  <Runtime>
    <Assembly FileName="Mover.dll"/>
  </Runtime>

  <DependsOn>
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}" CompatibleAPI="1"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}" CompatibleAPI="1"/> <!-- Configuration plugin -->
  </DependsOn>
  
  <Register Location="/Models">
    <Model Id="8621AA8C-509A-45FD-B47D-1AE9DDDB46DD" Name="MoverBackupModel" ClassName="Mover.Models.BackupModel"/>
    <Model Id="E3010B93-7AD4-41BA-8F13-31760E9D65DE" Name="MoverRestoreModel" ClassName="Mover.Models.RestoreModel"/>
  </Register>

  <Register Location="/Workflow/States">
    <DialogState Id="DE1A86F8-50D4-4CBF-8CCA-557EEEACD3C4" Name="BackupDialog" DialogScreen="BackupDialog"
                 DisplayLabel="[Settings.Plugins.Mover.BackupDialog]" WorkflowModel="8621AA8C-509A-45FD-B47D-1AE9DDDB46DD"/>
    <DialogState Id="821132BC-028F-4B31-A416-C361369E16AA" Name="RestoreDialog" DialogScreen="RestoreDialog"
                 DisplayLabel="[Settings.Plugins.Mover.RestoreDialog]" WorkflowModel="E3010B93-7AD4-41BA-8F13-31760E9D65DE"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="MoverLanguage" Directory="Language" Type="Language"/>
  </Register>

  <Register Location = "/Resources/Skin">
    <Resource Id="MoverSkin" Directory="Skin" Type="Skin"/>
  </Register>

  <!-- Root configuration sections -->
  <Register Location="/Configuration/Settings">
    <ConfigSection
      Id="Plugins"
      Redundant="true"
      Text="[Settings.Plugins]"/>
  </Register>

  <!-- Contents of '/Plugins' section -->
  <Register Location="/Configuration/Settings/Plugins">
    <ConfigSection
      Id="Mover"
      Redundant="true"
      Text="[Settings.Plugins.Mover]"/>
  </Register>

  <!-- Contents of '/Plugins/Mover' section -->
  <Register Location="/Configuration/Settings/Plugins/Mover">
    <CustomConfigSetting
      Id="MoverBackupConfig"
      Text="[Settings.Plugins.Mover.BackupConfig]"
      HelpText="[Settings.Plugins.Mover.BackupConfig.Help]"
      ClassName="Mover.Settings.Configuration.BackupSettingsConfiguration"
      AdditionalData="WorkflowState=DE1A86F8-50D4-4CBF-8CCA-557EEEACD3C4,ConfAppPanel=..."/>
    
    <CustomConfigSetting
      Id="MoverRestoreConfig"
      Text="[Settings.Plugins.Mover.RestoreConfig]"
      HelpText="[Settings.Plugins.Mover.RestoreConfig.Help]"
      ClassName="Mover.Settings.Configuration.RestoreSettingsConfiguration"
      AdditionalData="WorkflowState=821132BC-028F-4B31-A416-C361369E16AA,ConfAppPanel=..."/>

  </Register>
 
  
</Plugin>